## Data Analysis for Iphone Data

In [1]:
#ip install matplotlib

In [2]:
#pip install pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('C:/Users/chava/Projects/Data_Engineering/python_content/course_content_resources/python-for-data-engineering/1. iPhone Data Analysis Project/Data/apple_products.csv')

In [4]:
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB

In [7]:
int(df['Mrp'].max())

149900

In [9]:
int(df['Mrp'].min())

39900

In [10]:
df[df['Mrp']==149900]

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
24,"APPLE iPhone 12 Pro (Silver, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-s...,Apple,140900,149900,6,542,42,MOBFWBYZ5UY6ZBVA,4.5,4 GB
41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,140900,149900,6,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB

In [19]:
list(df['Product Name'])[5][6:15].upper().strip() #strip removes the extra space from the string # upper convert all the value of string to upper case

'IPHONE 8'

In [23]:
# creating a new columns with the iphone name on it
df['model name'] = df['Product Name'].str[6:15].str.strip()  # adding .str because it is use with string value and df['product name] is series

In [24]:
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,model name
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,iPhone 8
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,iPhone 8
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,iPhone 8
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB,iPhone 8
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,iPhone 8

## OOPS concept

In [ ]:
# Object everything inside the python is  Object
# User define objects are created using class keyword. class is the blueprint that defines a nature of future object.
# an instance is a specific object created.



# creating an object using class sample

class sample():
    pass

# creating the instance of the object

x = sample()

print(type(x))

<class '__main__.sample'>

# attribite id the characteristic of object   like name , bread of the class dog
# method is an operation we perform with the object.

#syntax for attribute

self.attribute = something

# to initialize the attribute of the object we use special method called 

__init__()

In [ ]:
#creating an dog class, creating an attribute and mehtod

class Dog(object):
    def __init__(self, breed):
        self.breed = breed

sam = Dog(breed = 'Lab')
frank = Dog(breed = 'husky')

sam.breed

'Lab'

class Circle(object):
    pi =3.14


    # circle get instantiated with a radius (default is 1)
    def __init__(self, radius=1):
        self.radius = radius

    # area method calculates the area. note the use of self
    def area(self):
        return self.radius*self.radius*Circle.pi
    
    # method for resetting radius
    def setRadius(self, radius):
        self.radius = radius

    #method for getting radius(same as callin .radius)

    def getRadius(self):
        return self.radius

In [1]:
# creating a class of circle where we can create an object using some attribute and method of this class

class circle(object):
    pi = 3.14
    def __init__(self, radius = 1):  #setting the radius as 1 by default
        self.radius = radius

    # creating an method to get the area of the circle
    def area(self):
        return self.radius*self.radius*circle.pi
    
    def setRadius(self, radius):
        self.radius = radius

    #method for getting radius

    def getRadius(self):
        return self.radius

In [3]:
c= circle()
print(c)

<__main__.circle object at 0x00000262042A47A0>

In [4]:
c.pi

3.14

In [5]:
c.radius

1

In [9]:
c = circle(radius =2)
print(c.pi)
print(c.radius)

print("area:", c.area())
print("radius", c.getRadius())

3.14
2
area: 12.56
radius 2

## Instance vs class vs static Methods

In [3]:
# instance method have access to the instancen of the class
#class method have access to the class but not instances.
# static methds have no access to either instance or classes . they are more like plain function.

class MyClass:
    def instance_method(self):
        print("instance method called", self)

    @classmethod
    def class_method(cls):
        print('class method called', cls)

    @staticmethod
    def static_method():
    
        print('static method called')

obj = MyClass()
obj.instance_method()
MyClass.class_method()
MyClass.static_method()

instance method called <__main__.MyClass object at 0x000002222417CB30>
class method called <class '__main__.MyClass'>
static method called

In [13]:
# create an example of class student with instance, class, static methos


class Student:
    school_name = "ABC School"

    #contructor
    def __init__(self, name, age):
        self.name = name
        self.age = age

    #instance method

    def show(self):
        print(self.name, self.age, Student.school_name)

    @classmethod   # classmethod can only access arrtibute from class
    def change_school(cls, name):
        cls.school_name = name

    @staticmethod
    def find_notes(subject_name):
        return ['chapter 1', 'chapter 2', 'chapter 3']

In [14]:
Student.school_name

'ABC School'

In [17]:
stud1 = Student("rakhi", 19)
print(stud1)

<__main__.Student object at 0x0000022224088770>

In [18]:
stud1.name

'rakhi'

In [19]:
stud1.age

19

In [20]:
stud1.school_name

'ABC School'

In [21]:
Student.change_school('XYZ SCHOOL')

In [22]:
Student.school_name

'XYZ SCHOOL'